<div
  class="button1-root"
  [ngClass]="[
    'btn',
    'btn-' + type.toLowerCase(),
    'btn-' + size,
    'btn-' + interactionState.toLowerCase(),
    'btn-sem-' + semanticState.toLowerCase(),
    semanticState === 'Disabled' ? 'btn-disabled' : '',
    interactionState === 'Hover' ? 'btn-hover' : '',
    interactionState === 'Selected' ? 'btn-selected' : '',
    interactionState === 'Focus' ? 'btn-focus' : ''
  ]"
>
  <div class="btn-main">
    <div class="btn-content">
      <div class="btn-inner">
        <ng-container *ngIf="hasIcon">
          <span class="btn-icon">
            <img [src]="img" alt="icon1" />
            <img [src]="img1" alt="icon2" />
          </span>
        </ng-container>
        <ng-container *ngIf="hasLabel">
          <span class="btn-label">
            <span>A button's text</span>
          </span>
        </ng-container>
      </div>
    </div>
  </div>
</div>
