:root {
  --mds-color-bg-fab: #7C3AED;
  --mds-color-bg-fab-hover: #6D28D9;
  --mds-color-bg-fab-pressed: #5B21B6;
  --mds-color-bg-fab-disabled: #E9D5FF;
  --mds-color-bg-fab-destructive: #EF4444;
  --mds-color-bg-fab-remotecontrol: #10B981;
  --mds-color-icon-fab: #fff;
  --mds-color-icon-fab-disabled: #9CA3AF;
  --mds-radius-circle: 50%;
  --mds-shadow-fab: 0 2px 8px #0001;
  --mds-spacing-s: 16px;
}
